body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


#centeredBlock {
margin-top: -25px;
position: relative
}

#main {
    background: #fcfcfc;
    border: 1px solid #d8d8d8;
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
}
/** COmments **/

ul#commentsList, #commentsList ul{
    list-style: none
}
#commentsList .parent{margin-bottom: 10px}

#commentsList li{
background: #f6f6f6;
border: 1px solid #ddd;
-moz-border-radius: 3px;
border-radius: 3px;
padding: 14px;
position: relative;
}
#commentsList > li:before{
    content: url(/img/comment-arrow.png);
left: -21px;
position: absolute;
}
.parent .avatar{
    position: absolute;
    left: -100px
}
#commentsList .children{
    list-style: none
}

.children{padding-left: 10px;}

#commentsList .children > li{
background: #ddd;
border-color: #d3d3d3;
}

#commentsList .children > li ul > li{
background: #f6f6f6;
border: 1px solid #ddd;
}

#commentsList .children > li ul > li ul > li{
background: #ddd;
border-color: #d3d3d3;
}

#commentsList .children > li ul > li ul > li ul >li{
background: #f6f6f6;
border: 1px solid #ddd;
}




.commHeader{
          
}

.commentBlock{
    padding: 5px 
}

#footer{min-height: 300px;background: #575757}
#footerWrap{
    padding: 20px
}
